<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Profile</title>
</head>
<body>
    <h1>Add New Profile</h1>

    <form action="/profile/add" method="post">
        <p>
            <label>Name</label>
            <input type="text" name="name" />
        </p>
        <p>
            <label>Address</label>
            <input type="text" name="address">
        </p>
        <p>
            <label>Date of Birth</label>
            <input type="date" name="dateOfBirth">
        </p>
        <p>
            <label>Badge</label>
            <input type="text" name="badge">
        </p>
        <input type="submit" value="SUBMIT">
    </form>
</body>
</html>